    a{
        text-decoration: none;
        color: inherit;
    }
    .header{             
        width: 35%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 200px;
    }
    .header .logo{
        width: 100%;
        height: 100px;
        /* text-align: center; */
        vertical-align: bottom;
    }
    .header .logo .icon{
        width: 100px;
        height: 100px;
    }
    .header .logo .text{
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800; 
        display: inline-block;              /* конец свойств заголовка*/
    }

    .menu{
        display: flex;
        height: 30px;
        flex-direction: row;
        align-items: center;
        width: 600px;
        justify-content: space-around;
        margin-right: 200px;
        /* margin: auto; */
        /* margin-top: 15px; */
    }

    .menu-item .title{
        color: black;
        text-decoration: none;
        padding: 16px;
        font-size: 20px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
        text-transform: uppercase;
    }
      
    .menu-item {
        position: relative;
        display: inline-block;
        height: inherit;
    }
      
    .submenu {
        display: none;
        position: absolute;
        background-color: oldlace;
        min-width: inherit;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    .submenu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .submenu a:hover {
          background-color: antiquewhite;
    }
      
    .menu-item:hover .submenu {
        display: block;
    }
      
      .menu-item:hover .title {
        background-color: antiquewhite;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        height: 150px;
        margin-bottom: 15px;
        align-items: baseline;
    }

    .footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 305px;
        background-color: rgb(43, 43, 43);
        color: rgb(105, 105, 105);
        padding: 40px 20px 50px 80px;
        box-sizing: border-box; /*чтобы не увеличивался размер блока с добавлением padding*/
    }
    .description{
        flex-basis: 25%;
    }
    .description .icon{
        height: auto;
        width: 15%;
        margin-bottom: 15px;
    }
    .description .text{
        font-family: Courier;
        width: 90%;
        font-size: 20px;
        text-align: left;
    }
    .add{
        flex-basis: 40%;
    }
    .add li{
        display: block;
        width: 250px;
        height: 40px;
        margin: 15px;
        font-size: 20px;
        list-style-type: none;
        border-bottom: 1px solid rgb(105, 105, 105);
        text-align: left;
    }
    .add li.last-child{
        border-bottom: 0;
    }
    .add a{
        text-decoration: none;
        color: inherit;
    }
    .add a:hover{
        color: rgb(124, 183, 119);
    }
    .social{
        flex-basis: 30%;
    }
    .social .icon{
        height: 50px; /*почему-то не работает auto */
        width: 50px;
        margin-left: 20px;
        opacity: 75%;
        float: right;
    }
    .social .icon:hover{
        opacity: 100%;
    }
    header{
        font-size: 40px;
        font-family: courier;
        height: 250px;
        width: 100%;
    }
    .main{
        width: 100%;
        margin-top: 20px;
    }

    .change-col a:hover{
        color: rgb(171, 185, 187);
    }
    
    header img{
        width: 10%;
        height: 10%;
        float: left;
    }
    
    .icon_logo{
        width: 10%;
        height: 10%;
        float: right;
    }
    .logo_text{
        font-size: 36px;
        padding-top: 10px;
        text-align: center;
    } 
     
    article{
        text-align: center;
        width: 400px;
        font: 20px/30px courier, Tahoma, sans-serif;
    }
    .article .article-pic{
        margin-bottom: 45px;
    }
    .marg-of-middle{
        margin-left: 40px;
        margin-top: 40px;
    }
    .row{
        margin-right:15px;
        margin-left:10px;
        display: grid;
        grid-template-columns: 600px 600px;
        height: 600px;
    }
    .column{
        
        box-shadow: inset 0 0 6px 4px rgba(92, 151, 136, 0.7);
        background-color: antiquewhite;
    }
    .article .article-content a{
        position: relative;
        margin-bottom: 50px;
    }
    .article .article-content a:after{
        content: '';
        height: 1px;
        width: 60px;
        background-color: #506069;
        position: absolute;
        top: 40px;
        left: calc(50% - 30px);
    }
    .article .article-content p{
        font-size: 15px;
        margin-left: 10px;
        margin-top: 30px;
        margin-right: 10px;
        text-align: center;
    }


    /*post styles*/
    .article-post{
        margin: 10px 400px 10px 200px;
        padding: 0px 20px 0px 20px;
        min-width: 700px;
    }
    .article-post .intro{
        margin-bottom: 1.25em;
    }
    .article-post .intro .cover{
        margin-bottom: 1.2em;
    }
    .article-post .intro .cover img{
        width: 100%;
        height: auto;
    }
    .article-post .intro .meta{
        width: 100%;
        height: 20px; /*этой высоты не должно быть, но без неё title залезает в meta*/
    }
    .article-post .intro .meta .category{
        float: left;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 5px;
        display: block;
        color: green;
    }
    .article-post .intro .title{
        margin: .5em 0 1.6em;
    }
    .article-post .intro .title h1{

        line-height: .875;
        font-weight: 200;
        font-size: 64px;
        letter-spacing: .03em;
    }
    h2{
        font-size: 36px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.285;
        margin: 0px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }
    h3{
        font-size: 24px;
        font-weight: 100;
    }
    p{
        margin: 0 0 1em;
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: .025em;
        font-weight: 300;
    }
    h1, h2, h3, p{
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .article-post .recipe .ingredients{
        margin-bottom: 2em;
    }
    .article-post .recipe .ingredients ul{
        list-style: none;
    }
    .article-post .recipe .ingredients ul li{
        font-weight: 300;
        padding-left: 25px;
        position: relative;
        margin-bottom: 0;
        font-size: 25px;
    }
    .article-post .recipe .ingredients ul li:before{
        text-align: center;
        content: "\2014";
        position: absolute;
        left: 0;
        top: 0;
    }
    .article-post .recipe .steps ol{
        counter-reset: customlist;
    }
    .article-post .recipe .steps ol li{
        list-style: none;
        font-weight: 300;
        padding-left: 25px;
        position: relative;
        margin-bottom: 1em;
        font-size: 22px;
    }
    .article-post .recipe .steps ol li:before{
        position: absolute;
        counter-increment: customlist;
        content: counter(customlist) ".";
        left: 0;
        top: 0;
    }
    .see-also{
        border-top: 2px solid #e8e8e8;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1020px;
        margin: auto;
        margin-top: 40px;
    }
    .see-also .preview{
        width: calc((100% - 80px) / 3);
        padding-bottom: 20px;
    }
    .see-also .preview a{
        color: black;
    }
    .see-also .preview span.preview{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 220px;
        display: block;
    }

    /*post-preview*/
    .article-post-preview{
        margin: 10px 600px 10px 200px;
        padding: 0px 20px 0px 20px;
        min-width: 500px;
    }
    .article-post-preview .intro{
        margin-bottom: 70px;
    }
    .article-post-preview .intro .cover{
        margin-bottom: 5px;
    }
    .article-post-preview .intro .cover img{
        width: 100%;
        height: auto;
    }
    .article-post-preview .intro .meta{
        width: 100%;
        height: 20px; /*этой высоты не должно быть, но без неё title залезает в meta*/
    }
    .article-post-preview .intro .meta .category{
        float: left;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-weight: 700;
        /* margin-top: 10px; */
        margin-bottom: 5px;
        display: block;
        color: green;
    }
      .article-post-preview .intro .title h1{
        /* line-height: 0;  */
        font-weight: 100;
        font-size: 40px;
        letter-spacing: .03em;
        margin-top: 0px; 
    }  

    /*create form*/
    .form-control{
        margin: 50px 300px 50px 350px;
        width: 45%;
        min-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .form-control-text{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .form-control-button{
        width: 150px;
        height: 40px;
        background-color: green;
        color: white;
    }
    .form-control-button:hover{
        background-color: DarkGreen;
    }

    /*time-note*/
    .time-note{
        width: 300px;
        height: 120px;
        display: flex;
        flex-direction: column;
        border: 2px solid LightGray;
        color: grey;
        padding: 10px;

    }
    .time-note .note{
        font-size: 15px;
    }
    .time-note .btn-field{
        display: flex;
        margin-top: 10px;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn{
        border: 2px outset LightGray;
        color: white;
    }
    .edit-btn{
        background-color: LightSeaGreen;
    }
    .edit-btn:hover{
        background-color: DarkCyan;
    }
    .delete-btn{
        background-color: IndianRed;
    }
    .delete-btn:hover{
        background-color: Crimson;
    }
    .form-spacing-buttom{
        margin-bottom: 20px;
    }


